<div class="admin">
    <img src="https://cdn.dribbble.com/users/140294/screenshots/1522977/business_man_animate_dribbble.gif" alt=""
        width="100%">
    <h1>Admin</h1>
    <p>admin@gmail.com</p>
</div>

<mat-divider></mat-divider>

<div class="pages">

    <h2>Pages</h2>
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employee">Employee</a>
</div>

<div class="tools">
    <h2>Tools</h2>
    <a routerLink="addEmployee">
        <mat-icon>person_add</mat-icon>
        Add Employee
    </a>
    <a routerLink="lead">
        <mat-icon>person</mat-icon>
        Leads
    </a>
</div>