<!-- cards  -->

<div id="cards">

    <mat-card>
        <app-card 
          bg='red'
          icon="import_contacts"
          content="Admissions" 
          total="3000"
        >

        </app-card>
    </mat-card>

    <mat-card>
        <app-card
        bg='blue'
        icon="home"
        content="Placements" 
        total="2000"
        ></app-card>
    </mat-card>


    <mat-card>
        <app-card
        bg='orange'
        icon="person"
        content="Students" 
        total="3000"
        >

        </app-card>
    </mat-card>

    <mat-card>
        <app-card
        bg='green'
        icon="group"
        content="Employees" 
        total="2000"
        >

        </app-card>
    </mat-card>


</div>


<!-- area chart  -->
<div class="">
    <app-area-chart></app-area-chart>
</div>



<div id="parent">
    <div class="">
        <!-- table  -->
        <app-table></app-table>
    </div>

    <div class="">
        <!-- pie chart  -->
        <app-pie-chart></app-pie-chart>
    </div>
</div>